.Editor {
  width: 44vw;
}

.textArea {
  width: 100%;
  height: 100%;
  padding: 1vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  resize: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  background-color: #fafafa;
  color: #333333;
}